.App {
  text-align: center;
}

.App-logo {
  /* height: 40vmin; */
  width:300px;
  cursor: pointer;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-right: 0 !important;
  padding-left:0 !important;
}

.App-link {
  color: #09d3ac;
}

.content{
  background-color: #282c34;
  padding-right: 0 !important;
  padding-left:0 !important;
  
}
.intro{
  background-color: #282c34;
  padding-right: 0 !important;
  padding-left:0 !important;
}

.row{
  
  margin-right: 0px;
  margin-left: 0px;

}

.content-fonts-normal{
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content-info-normal{
  text-align: left;
  font-size: calc(5px + 2vmin);
  color: white;
}

.profile-pic-card{
  width : 50%;
  display: inline-block;
}

.padding-10-left{
  padding-left: 10px;
}

.home-img{
  width : 70%;
}